<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adoptify_core"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.foster.profile.EditProfileFosterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foster.profile.DetailProfileFosterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foster.edit.EditFosterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foster.detail.DetailFosterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.DetailProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medical.vaksinasi.VaksinasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medical.record.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foster.FosterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adopt.process.ProcessAdoptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adopt.detail.DetailAdoptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.virtual.add.AddVirtualPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.virtual.main.VirtualPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reward.ConfirmationRewardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reward.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medical.MedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>